<login-phone-number *ngIf="openLoginPage" (resultCb)="handleLoginPage($event)" ></login-phone-number>
<div class="main-cont">
  <div class="info-container" (click)="openInfo()">
    <div class="info-content">
      <img class="info-cc-image" src="assets/svg/help-operator.svg">
    </div>
  </div>
  <div class="server-container">
    <div class="server-content">
      <img id="server" class="server-cc-image" src="assets/svg/bad_server.svg">
    </div>
    <div id="server-t" class="server-text"><div class="item-center">{{serverStatus}}</div></div>
  </div>
  <div class="status-cont">
    <div class="status-top-cont">
      <div class="item-center-d70 status-text" [ngStyle]="getStatusColor()">{{langSrv.getLangData(userStatus)}}</div>
    </div>
    <div class="status-bottom-cont">
      <div class="item-center status-small-text" [ngStyle]="getExpiredColor()">{{langSrv.getLangData('Expired')}} : {{exfiredDate}}</div>
    </div>
  </div>
  <div class="payment-cont">
    <div class="payment-top">
      <div class="payment-label item-left">
        {{langSrv.getLangData('Paymentation')}}
      </div>
      <div class="payment-label item-right">
        (ID : {{userPhoneNumberText}})
      </div>
    </div>
    <div class="payment-middle">
      <div class="payment-type" tappable (click)="paymentTlie(1000)">
        <div class="payment-type-tile" [ngStyle]="getPaymentTileStyle(1000)">
          <div class="payment-tile-top">
            <div class="m-text item-center">{{langSrv.getLangData('Get your free trial')}}</div>
          </div>
          <div class="payment-tile-middle">
            <div class="money-text item-center">{{langSrv.getLangData('3 Day !')}}</div>
          </div>
          <div class="payment-tile-bottom">
            <div *ngIf="paymentType != -1" class="click-text item-center">{{langSrv.getLangData('(Please click under button)')}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="payment-bottom">
      <div *ngIf="paymentType != -1" tappable (click)="paymentClick()" class="payment-button">
        <div class="buynow-button item-center">{{langSrv.getLangData('Show AD Video')}}</div>
      </div>
    </div>
  </div>
  <div class="button-cont" [ngStyle]="getButtonStyle()">
    <div class="item-left button-big-text" tappable (click)="autoShowCount(-1)">-</div>
    <div class="item-center button-text" tappable (click)="startAlertAutoShow()">{{buttonText}}</div>
    <div class="item-right button-big-text" tappable (click)="autoShowCount(1)">+</div>
  </div>
</div>
