page-home {

}

.item-center-d70{
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

.main-cont{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  .status-cont{
    position: relative;
    width:100%;
    height: 40%;
    border-bottom: 2px solid #DADADA;
    .status-top-cont{
      position: relative;
      width: 100%;
      height: 80%;
    }
    .status-bottom-cont{
      position: relative;
      width: 100%;
      height: 20%;
    }
    .status-text{
      font-size: 3.0em;
      white-space: nowrap;
      font-weight: bold;
    }
    .status-small-text{
      font-size: 1.1em;
      white-space: nowrap;
      font-weight: bold;
    }
  }
  .payment-cont{
    position: relative;
    width:100%;
    height: 18em;
    .payment-top{
      position: relative;
      width: 100%;
      height: 15%;
      border-bottom: 1px solid #d7d9ec;
      .payment-label{
        width: auto;
        height: auto;
        white-space: nowrap;
        font-size: 3.3vw;
        color: #508251;
      }
    }
    .payment-middle{
      position: relative;
      width: 100%;
      height: 65%;
      padding: 0.3em;
      .month-text{
        font-size: 3vw;
        font-weight: bold;
      }
      .m-text{
        white-space: nowrap;
        font-size: 6vw;
      }
      .money-text{
        font-size: 5vw;
      }
      .click-text{
        font-size: 4.5vw;
        white-space: nowrap;
      }
      .payment-type{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0.6em;
        float: left;
        .payment-type-tile{
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 0.3em;
          .payment-tile-top{
            position: relative;
            width: 100%;
            height: 55%;
            .payment-tile-top-left{
              position: relative;
              width: 20%;
              height: 100%;
              float: left;
            }
            .payment-tile-top-right{
              position: relative;
              width: 80%;
              height: 100%;
              display: inline-block;
            }
          }
          .payment-tile-middle{
            position: relative;
            width: 100%;
            height: 15%;
          }
          .payment-tile-bottom{
            position: relative;
            width: 100%;
            height: 30%;
          }
        }
      }
    }
    .payment-bottom{
      position: relative;
      width: 100%;
      height: 20%;
      padding-left: 0.8em;
      padding-right: 0.8em;
      .payment-button{
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 0.2em;
        background-color: #0bad00;
        .buynow-button{
          color: white;
          font-size: 1.2em;
          font-weight: bold;
        }
      }
    }
  }
  .button-cont{
    position: fixed;
    width: 100%;
    height: 5em;
    bottom: 0;
    z-index: 1001;
    .button-text{
      font-size: 1.5em;
      white-space: nowrap;
      font-weight: bold;
    }
    .button-big-text{
      font-size: 3em;
      white-space: nowrap;
      font-weight: bold;
    }
  }
}

.info-container {
  width: 100%;
  height: 3em;
  position: absolute;
  top: 1em;
  padding-right: 1em;
  z-index: 1005;
}

.info-content {
  width: 100%;
  height: 100%;
  text-align: right;
}

.info-cc-image {
  height: 100%;
  width: auto;
}

.server-container {
  width: 100%;
  height: 4em;
  position: absolute;
  top: 1em;
  padding-left: 1em;
  z-index: 1000;
}

.server-content {
  width: 4.2em;
  height: 100%;
  float: left;
  text-align: left;
}

.server-cc-image {
  height: 100%;
  width: auto;
}

.server-text {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 10em;
}


