// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.web-page{
  position: relative;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.scroll-content{
  margin-bottom:0 !important;
  overflow-x: auto !important;
  overflow-y: auto !important;
}

.item-center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.item-left{
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translate(0%, -50%);
}
.item-right{
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(0%, -50%);
}
.item-left-down{
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translate(0%, 50%);
}

div {
  font-family: bmdohyeon;
}
@font-face {
  font-family: 'bmdohyeon';
  src: url('../assets/fonts/BMDOHYEON.otf');
}
