verification-modal {

}
.verification-modal-cont{
  margin-top: 1.5em;
  position: relative;
  width:100%;
  height: 100%;
  overflow-y: auto;
}

.verification-modal-top{
  position: relative;
  width: 100%;
  height: 3em;
  background-color: #00177c;
  .top-text{
    white-space: nowrap;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
  }
}

.verification-modal-items{
  position: relative;
  width: 100%;
  height: 6em;
  border-bottom: solid 1px #d0d0d0;
  .ion-input-st{
    color: #454545;
    position: relative;
    width: 80%;
    height: 5em;
    float: left;
  }
  .verification-modal-item{
    position: relative;
    width: 100%;
    height: 4em;
  }
}

.verification-modal-confirm{
  position: relative;
  width: 20%;
  height: 100%;
  display: inline-block;
  .confirm-text{
    color:white;
    font-size: 1.1em;
    font-weight: bold;
  }
}