<!-- Generated template for the VerificationModalComponent component -->
<div class="verification-modal-cont">
  <div class="verification-modal-top">
    <div class="top-text item-center">
      {{langSrv.getLangData('Verification Code')}}
    </div>
  </div>
  <div class="verification-modal-items">
      <ion-content>
        <ion-item class=ion-input-st>
          <ion-label floating>******</ion-label>
          <ion-input type="tel" length=6 #verifiednumber (input)='onVerifiedChange()'></ion-input>
        </ion-item>
        <div class="verification-modal-confirm" tappable (click)="verified()" [ngStyle]="getVerifiedButtonStyle()">
            <div class="confirm-text item-center">{{langSrv.getLangData('OK')}}</div>
        </div>
      </ion-content>
  </div>
</div>