login-phone-number {

}

.ion-select{
  max-width: 70% !important;
}
.point-bk-color{
  background-color: #5d88ff;
}

.login-main{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-y:auto;
  .login-top{
    position: relative;
    width: 100%;
    height: 6em;
    .login-top-label{
      white-space: nowrap;
      color: #ffffff;
      font-size: 1.4em;
      font-weight: bold;
    }
  }
  .login-phone-number{
    position: relative;
    width: 100%;
    height: auto;
    padding-left: 1em;
    padding-right: 1em;
    .caution-cont{
      position: relative;
      width: 100%;
      height: 6em;
      padding-top: 1em;
      .caution-label{
        position: relative;
        width: 100%;
        height: 95%;
        background-color: #ffa0a0;
        border-radius: 0.5em;
        padding-left:0.5em;
        padding-right: 0.5em;
      }
      .caution-text{
        font-size: 1.1em;
        color: #880000;
      }
    }
    .label-cont{
      position: relative;
      width: 100%;
      height: 4em;
      border-bottom: solid 1px #797979;
      .label-text{
        font-size: 1.1em;
        font-weight: bold;
        color: #464646;
      }
    }
    .ion-items{
      position: relative;
      width: 100%;
      height: 5.5em;
      .ion-button-st{
        position: relative;
        width: 20%;
        height: 5em;
        float: left;
        padding: 0.3em;
        .code-find-button{
          position: relative;
          width:100%;
          height: 100%;
          border-radius: 0.4em;
          background-color: #194bff;
        }
        .code-text{
          font-size: 1.2em;
          font-weight: bold;
          color: white;
        }
      }
      .ion-input-st{
        position: relative;
        width: 80%;
        height: 4em;
        display: inline-block;
      }
    }
  }
  .login-confirm{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5em;
    z-index: 1002;
    .confirm-text{
      color: white;
      font-size: 1.4em;
      font-weight: bold;
      white-space: nowrap;
    }
  }
}
.validation-check{
  position: relative;
  width: 100%;
  height: 2em;
  .valid-text{
    font-size: 1em;
  }
}

.verified-input-cont{
  position: relative;
  width: 100%;
  height: 14em;
}