<contry-code *ngIf="openCodeFinder" (codeResult)="codeResultHandler($event)"></contry-code>
<div class="login-main">
  <div class="login-top point-bk-color">
    <div class="login-top-label item-center">
      {{langSrv.getLangData('Identity Verification')}}
    </div>
  </div>
  <div class="login-phone-number">
    <div class="label-cont">
      <div class="label-text item-left-down">{{langSrv.getLangData('Contry code & Phone number')}}</div>
    </div>
    <div class="ion-items">
        <div class="ion-button-st">
            <div class="code-find-button" tappable (click)="findCode()">
              <div id="code" class="code-text item-center">{{langSrv.getLangData('Code')}}</div>
            </div>
        </div>
        <ion-item class=ion-input-st>
          <ion-label floating>{{langSrv.getLangData('Please do not input dash(-)')}}</ion-label>
          <ion-input type="tel" #phonenumber (input)='onChange()'></ion-input>
        </ion-item>
    </div>
    <div class="validation-check" [ngStyle]="validCheckStyle()">
      <div class="valid-text item-left" id="valid-res"></div>
    </div>

    <div class="verified-input-cont">
      <verification-modal *ngIf="openVerified" (verifiedHandle)="checkVerified($event)"></verification-modal>
    </div>


  </div>
  <div class="login-confirm" [ngStyle]="getVerificationButtonStyle()" tappable (click)="sendVerificationMMS()">
    <div class="confirm-text item-center">{{langSrv.getLangData('Send Verification MMS')}}</div>
  </div>
</div>

