<!-- Generated template for the ContryCodeComponent component -->
<div class="opacity-bk">
</div>

<div class="code-main item-center">
  <div class="code-cont">
    <div class="code-top">
      <div class="top-text item-center">
        {{langSrv.getLangData('Contry Codes')}}
      </div>
    </div>
    <div class="code-items">
      <div *ngFor="let item of countries; let i=index">
        <div class="code-item" [ngStyle]="getCodeItemStyle(i)" tappable (click)="selectCode(i)">
          <div class="item-left">
              {{item.name}} ({{item.dial_code}})
          </div>
        </div>
      </div>
    </div>
    <div class="code-confirm" tappable (click)="codeSelect()" [ngStyle]="getButtonStyle()">
      <div class="confirm-text item-center">{{langSrv.getLangData('OK')}}</div>
    </div>
  </div>
</div>