contry-code {

}
.opacity-bk{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  left: 0;
  top: 0;
  z-index: 1001;
}

.code-main{
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: #FEFEFE;
  z-index: 1002;
}

.code-cont{
  position: relative;
  width:100%;
  height: 100%;
  overflow-y: auto;
}

.code-top{
  position: relative;
  width: 100%;
  height: 10%;
  background-color: #00177c;
  .top-text{
    font-size: 1.3em;
    font-weight: bold;
    color: white;
  }
}

.code-items{
  position: relative;
  width: 100%;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 0.4em;
  padding-right: 0.4em;
  .code-item{
    position: relative;
    width: 100%;
    height: 3em;
  }
}

.code-confirm{
  position: relative;
  width: 100%;
  height: 10%;
  .confirm-text{
    color:white;
    font-size: 1.1em;
    font-weight: bold;
  }
}